@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&family=Roboto&display=swap');

/* GENERAL */

html,
body {
	margin: 0;
	padding: 0;
	min-width: 320px;
	word-wrap: break-word;
}

body {
	background-color: #ffe45e;
	color: #2b2d42;
	font-family: 'Roboto', Verdana, sans-serif;
}

h1,
h2,
h3 {
	margin: 0;
	font-family: 'Raleway', Verdana, sans-serif;
}

h2 {
	font-size: 18px;
}

p {
	margin: 0.7rem 0 0;
	font-size: 16px;
}

button {
	background: none;
	border: none;
	padding: 0;
	margin-left: 5px;
}

.app {
	padding: 2rem 0;
}

/* SECTION */

.section {
	background-color: #fdfdfd;
	width: 90%;
	max-width: 800px;
	min-width: 300px;
	margin: auto;
	padding: 2rem;
	box-sizing: border-box;
	border-bottom: 2px dashed #ffe45e;
}

.section__title {
	text-transform: uppercase;
	letter-spacing: 0.25rem;
	margin-bottom: 1.2rem;
}

.section:last-of-type {
	border-bottom: none;
}

.section__label,
.form__label {
	font-weight: 700;
	margin-right: 5px;
}

.section__icon {
	color: #218380;
	align-self: flex-end;
}

/* GENERAL */

.general__name {
	margin-bottom: 1.2rem;
}

/* EDUCATION */

.section__school-info,
.form__item:not(:first-of-type) {
	margin-top: 1rem;
}

.section__school-info {
	padding-bottom: 1rem;
	position: relative;
}

.section__school-info:before {
	content: '';
	border-bottom: 2px dashed #218380;
	position: absolute;
	width: 100%;
	bottom: 0;
}

/* FORM */

form {
	display: flex;
	flex-direction: column;
}

fieldset {
	display: inherit;
	border: none;
	margin: 0.7rem 0 0;
	padding: 0;
	flex-grow: 1;
}

.general fieldset:first-of-type {
	margin: 0;
}

.education__form {
	border-bottom: 2px dashed #218380;
	padding-bottom: 1rem;
	margin-bottom: 1rem;
}
/* Form inputs */

input {
	font-family: 'Roboto', Verdana, sans-serif;
	font-size: 16px;
	padding-bottom: 0.2rem;
	color: #2b2d42;
	border: none;
	border-bottom: 1px dashed #898980;
	flex-grow: 1;
	margin-top: 0.7rem;
}

fieldset input,
input:first-of-type {
	margin-top: 0;
}

input:focus {
	outline: none;
	background-color: none;
}

.form__name-input {
	font-size: 32px;
	font-weight: 700;
	width: 100%;
	height: 37px;
	font-family: 'Raleway', Verdana, sans-serif;
	margin-bottom: 1.2rem;
}

.form__degree-input {
	font-size: 18px;
	font-weight: 700;
	font-family: 'Raleway', Verdana, sans-serif;
	height: 22px;
}

.form__date-input {
	width: 80px;
	flex-grow: 0;
	margin-right: 1rem;
}

/* CONTROLS */

.section__buttons,
.form__buttons {
	display: flex;
	justify-content: flex-end;
	margin-top: 1rem;
}

.education__buttons {
	position: absolute;
	right: 0;
	bottom: 1rem;
}
